/* ================
~~~~~~ Grids ~~~~~
================ */

.my-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.my-grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

/* ================
~~~~~~ Navbar ~~~~~
================ */

.project-logo {
  font-family: 'Faster One', cursive;
  text-shadow: 2px 2px 4px #000000;
}

.pointer {
  cursor: pointer;
}

.nav-links {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.7rem;
  color: white;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000000;
}

.nav-links > :hover {
  border-bottom: 2px solid white;
}

.separator {
  margin: 0.7rem;
}

.separator:hover {
  border-bottom: 2px solid transparent;
}

/* ======================
~~~~~~ Jumbotron ~~~~~
====================== */

.main-story:hover {
  opacity: 0.85;
  cursor: pointer;
}

.main-story-title {
  color: black;
}

.main-story-title:hover {
  text-decoration: underline;
}

.main-story-abstract {
  color: black;
  font-size: 1rem;
}

.trending {
  /* margin: 1rem;
  padding: 0.2rem;
  border-bottom: 1px solid black */
  font-family: 'Publico Headline', serif;
}

/* =======================
~~~~~~ Main Sections ~~~~~
======================= */

.section-heading {
  font-family: 'Publico Headline', serif;
  font-weight: bold;
  font-size: 2.7rem;
  padding: 1rem;
  background: linear-gradient(to bottom, white, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 500px) {
  .my-grid-3 {
    grid-template-columns: 1fr;
  }

  .separator {
    display: none;
  }

  .section-heading {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .separator {
    display: none;
  }
}
