.my-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.my-grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.project-logo {
  font-family: 'Faster One', cursive;
}

/* 
@media (max-width: 500px) {
  .my-grid-3 {
    grid-template-columns: 1fr;
  }
} */
