/* ====================
~~~~ Global Styles ~~~~
==================== */

.content-body {
  background-color: whitesmoke;
}

ol {
  list-style: none;
  counter-reset: my-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

ol li {
  counter-increment: my-counter;
  display: flex;
  width: 50%;
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

ol li::before {
  content: '' counter(my-counter);
  font-weight: bold;
  font-size: 2rem;
  margin-right: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: firebrick;
}

/* ================
~~~~~~ Navbar ~~~~~
================ */

.project-logo {
  font-family: 'Faster One', cursive;
  text-shadow: 2px 2px 4px #000000;
}

.pointer {
  cursor: pointer;
}

.nav-links {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.7rem;
  color: white;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000000;
}

.nav-links > :hover {
  border-bottom: 2px solid whitesmoke;
}

.separator {
  margin: auto;
  padding: 0 0.4rem 0 0.4rem;
}

.separator:hover {
  border-bottom: 2px solid transparent;
}

/* ======================
~~~~~~ Jumbotron ~~~~~
====================== */

.main-story:hover {
  opacity: 0.85;
  cursor: pointer;
}

.main-story-title {
  color: black;
}

.main-story-title:hover {
  text-decoration: underline;
}

.main-story-abstract {
  color: black;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.trending-heading {
  font-family: 'Publico Headline', serif;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.trending-title:hover {
  text-decoration: underline;
}

.trending-link {
  color: black;
  font-weight: 700;
}

.trending-link:hover {
  color: black;
  text-decoration: underline transparent;
}

/* =======================
~~~~~~ Main Sections ~~~~~
======================= */

.section-heading {
  font-family: 'Publico Headline', serif;
  font-weight: bold;
  font-size: 2.7rem;
  padding: 1rem;
  background: linear-gradient(to top, silver, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article {
  margin-bottom: 2rem;
}

.article-image:hover {
  opacity: 0.9;
}

.article-title {
  font-weight: bold;
  color: black;
}

.article-title:hover {
  color: dodgerblue;
}

.article-abstract {
  color: black;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}

.article-link {
  text-decoration: none !important;
}

.opinion {
  border-style: ridge;
  border-color: silver;
  padding: 0.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.opinion-heading {
  font-family: 'Publico Headline', serif;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to top, silver, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.opinion-title {
  margin-bottom: 0.7rem;
  font-weight: 900;
}

.opinion-title:hover {
  color: #121212;
}

.opinion-abstract {
  font-family: Arial, Helvetica, sans-serif;
}

/* ================
~~~~~~ Footer ~~~~~
================ */

.footer {
  padding: 2rem;
  border-top: 0.5rem solid firebrick;
  background-color: #4c4c4c;
  color: whitesmoke;
}

/* ===========================
~~~~~~ Responsive Deisgn ~~~~~
=========================== */

@media (max-width: 500px) {
  .my-grid-3 {
    grid-template-columns: 1fr;
  }

  .separator {
    display: none;
  }

  .section-heading {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .separator {
    display: none;
  }
}

/* max width 768 for article */
